<%- include("partials/header.ejs") %>


<h3><%= postTitle %></h3>
<p><%= postContent %></p> 

<div style="display: flex; justify-content: space-between;">
    <!-- Update Form -->
    <form action="/update" method="POST">
     <!-- Hidden input to hold post ID -->
     <input type="hidden" name="postId">
     <button type="submit" style="background-color: green; width: 250px;">Update</button>
 </form>


<!-- Delete Form -->
<form action="/viewpost/<%= postId %>" method="POST"> <!-- Change method to DELETE -->
    <!-- Hidden input to hold post ID -->
    <input type="hidden" name="postId" value="<%= postId %>"> <!-- Include postId value -->
    <button type="submit" style="background-color: red; width: 250px;">Delete</button>
</form>


<%- include("partials/footer.ejs") %>
