<%- include("partials/header.ejs") %> <!-- Include header partial -->

<body>
    
    <% if (titles.length === 0) { %> <!-- Check if there are no posts to display -->

        <h1>No posts to display</h1> <!-- Display message if no posts are available -->

    <% } else { %> <!-- If there are posts available -->

        <div style="text-align: left;">

            <% for (let i = 0; i < titles.length; i++) { %> <!-- Loop through each post -->

            <form action="/viewpost/<%= i %>" method="post"> <!-- Form to view individual post -->

                <!-- Here, you can dynamically generate the href attribute -->
                <h2><a href="/viewpost/<%= i %>" role="button" style="text-align: left;">  <%= titles[i] %></a></h2> <!-- Render post title as a clickable link -->
                <p><%= contents[i] %></p> <!-- Render post content -->

            </form>
    
            <% } %> <!-- End of loop -->
    
        </div>

    <% } %> <!-- End of if-else condition -->

</body>

<%- include("partials/footer.ejs") %> <!-- Include footer partial -->
