<%- include("partials/header.ejs") %>

<body>



    
    <% if (titles.length === 0) { %>

        <h1>No posts to display</h1>

    <% } else { %>

        <div style="text-align: left;">

            <% for (let i = 0; i < titles.length; i++) { %>
        
            <form action="/viewpost/<%= i %>" method="post">

                <!-- Here, you can dynamically generate the href attribute -->
                <h2><a href="/viewpost/<%= i %>" role="button" style="text-align: left;">  <%= titles[i] %></a></h2>
                <p><%= contents[i] %></p> 

            </form>
    
            <% } %>
    
        </div>

    <% } %>

</body>

<%- include("partials/footer.ejs") %>
